body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}
div.logo {
  background-image: url(pictures/splash.jpg);
  width: 70vh;

}

h1.logo {
  font-family:;
  font-size: 70px;
  color: white;
  text-align: center;
}

div.container {
  background-color: rgb(107, 100, 100);
  width: 100vh;
  
}

.intro_text {
  color: blue;
  text-align: left;
  margin-left: 
  
}

div.text_box {
  height: 30vh;
  background-color: aqua; 
}

form  {
  max-width: 600px;
  background-color: white;
  height: 30vh;
}

input[type="submit"] {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 30%;
  padding: 5px;
  height: 30px;
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
  background-color: rgb(14, 78, 14);
  color: rgb(255, 255, 255);
}

a {
  color: #596D48;
  font-weight: bold;
}


